@page "{id:int}"
@model GerenRest.RazorPages.Pages.Categoria.Delete
<head>
  <style>
		body {
			background-color: #7779b872; /* Substitua pelo código hexadecimal da cor que você deseja usar */
		}
  </style>
</head>
<body>
    <div>
    <h1>Detalhes da categoria a ser removido</h1>

    <p><strong>Nome:</strong> @Model.CatModel.Nome</p>
    <p><strong>Descrição:</strong> @Model.CatModel.Descricao</p>
</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Deletar" class="btn btn-danger"/>
        <a asp-page="./Categoria/Index" class="btn btn-primary">Retornar para a listagem</a>
    </div>
</form>
</body>