@page
@model GerenRest.RazorPages.Pages.Index

<h1>Gerenciador do Restaurante!</h1>
<head>
	<style>
		body {
			background-color: #7779b872; /* Substitua pelo código hexadecimal da cor que você deseja usar */
		}
	</style>
</head>
<body>
    <div>
    
    </div>
</body>
